html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font size for html ....pixel =1 rem 
    if we put 25pixel..for header then 1rem =25px*/
    /* and rem will change the font size to users phone/laptop */
}  

header>h1{
    /* to provide light or dark of alphabets */
    font-weight: 400;
}
header{
    /* flex used to disply side by side  */
    display: flex;
    justify-content:space-between;
    /* margin = top/bottom  right/left */
    margin: 0 3rem;

}
li{
    list-style: none;
    font-size: 1.5rem;
}
ul{
    display: flex;
    justify-content: space-between;
}
nav{
    /* postion relative will provide to move nav in top/bottom/up/down */
    position: relative;
    top: 1rem;
    width: 22rem;
}
.showcase_img{
    /* vw veiw width =95% of screen size and if u change size then img 
    automatic size  */
    /* i.e always take 95% == reponsive*/
    width: 95vw;
    margin: 1rem;
}
article{
    display: flex;
    margin: 1.5rem;
}
.container{
    text-align: center;
    margin: 1.5rem;
    padding: 1rem;
}
p{
    font-size: 1.5rem;
}
footer{
    background-color: black;
    height: 4rem;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
a{
    text-decoration: none; /*to remove the underline of ref link */
}
a:hover{
    color: red;
}